@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f6f7;
}

/* +++++++++++++++ */
/* ++++NAVBAR+++++ */
/* +++++++++++++++ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 5%;
    background: #06095c;
    border-bottom: 3px solid #00FF00;
}

.logo--wrapper .logo--title {
    font: normal bold 24px/30px Montserrat;
    color: #00FF00;
}

.list-links--wrapper {
    display: flex;
}

.list-links--wrapper .links--ul {
    display: flex;
    list-style: none;
}

.list-links--wrapper .links--li {
    padding: 0 20px;
}

.list-links--wrapper .links--a {
    font: normal normal 17px/26px Montserrat;
    text-decoration: none;
    /* color: #ff65a8; */
    color: deeppink;
}

/* ++++++++++++++++ */
/* +++++BANNER+++++ */
/* ++++++++++++++++ */
.banner--wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 70px);
}

.banner--wrapper video {
    position: absolute;
    width: 100%;
    height: calc(100vh - 70px);
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
    z-index: -1;
}

.banner--wrapper .banner--texts {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner--wrapper .banner--texts .banner--title {
    font: normal bold 65px/60px Montserrat;
    color: deeppink;
    margin-bottom: 100px;
}

.banner--wrapper .banner--texts .banner--subtitle {
    font: normal normal 50px/50px Montserrat;
    color: #00FF00;
    margin-bottom: 100px;
}

/* +++++++++++++++++++++ */
/* +++++InfoSection+++++ */
/* +++++++++++++++++++++ */
.infoSection--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 3.5em;
}

.infoSection--left {
    align-items: flex-start;
}

.infoSection--left__title {
    font: normal bold 55px/60px Montserrat;
    margin-bottom: 40px;
    color: #313131;
}

.infoSection--left__title span {
    font: normal bold 55px/60px Montserrat;
    margin-bottom: 40px;
    color: deeppink;
}

.infoSection--left__p {
    width: 80%;
    font: normal normal 28px/40px Montserrat;
    color: #4C4C4C;
}

.infoSection--left__p span {
    width: 80%;
    font: normal normal 28px/40px Montserrat;
    color: deeppink;
}

.infoSection--right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoSection--right__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoSection--right__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* PROGRAMMING LENGUAGES */
.programming-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 3.5em;
    background: #021a7d;
}

.p-l--title {
    font: normal bold 44px/56px Montserrat;
    color: #fff;
    margin-bottom: 20px;
}

.p-l--p {
    font: normal bold 24px/44px Montserrat;
    color: #fff;
}

.cards--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1250px;
}

.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 325px;
    height: 400px;
    background: #061c8b;
    box-shadow: 0px 0px 20px 8px rgba(3,21,114,0.75);
    -webkit-box-shadow: 0px 0px 20px 8px rgba(3,21,114,0.75);
    -moz-box-shadow: 0px 0px 20px 8px rgba(3,21,114,0.75);
    border-radius:25px;
    margin-top: 100px;
    padding: 20px;
    transition: 0.4s ease-in;
}

.card:hover {
    background: #9b0254;
    color: #06095c;
    transform: scale(1.05);
    box-shadow: 10px 10px 15px 0px rgba(155,2,84,0.75);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(155,2,84,0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(155,2,84,0.75);
}

.card--picture img {
    width: 80px;
    height: 80px;
}

.card--title {
    font: normal bold 28px/36px Montserrat;
    color: deeppink;
}

.card--description {
    margin: 0 auto;
    font: normal bold 12px/24px Montserrat;
    color: #fff;
}

/* HOW I WORK */
.how-i-work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding: 3.5em;
    background: #f6f6f7;
}

.h-i-w--title {
    font: normal bold 56px/56px Montserrat;
    color: deeppink;
    margin-bottom: 20px;
}

.h-i-w--subtitle {
    font: normal bold 36px/44px Montserrat;
    color: #313131;
}

.h-i-w--cards--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1250px;
}

.h-i-w--card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 325px;
    height: 325px;
    border-radius:25px;
    margin-top: 100px;
    padding: 20px;
    transition: 0.4s ease-in;
}

.h-i-w--header {
    width: 85px;
    height: 84px;
    background: #06095c;
    padding: 30px;
    border-radius: 50%;
}

.header--title {
    font: normal bold 18px/24px Montserrat;
    color: #fff;
}

.h-i-w--main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

.main--title {
    font: normal bold 30px/36px Montserrat;
    color: deeppink;
}

.main--p {
    height: 72px;
    margin: 0 auto;
    font: normal normal 16px/24px Montserrat;
    color: #313131;
}